<mat-toolbar color="primary">
  <span><i class="fa-solid fa-location-dot"></i> Pathen't</span>
  <span class="spacer"></span>

  <a routerLink="/" routerLinkActive="active-link" mat-button>
    <i class="fa-solid fa-house"></i> Home
  </a>

  <a *ngIf="isAdmin()" routerLink="/add-movie" routerLinkActive="active-link" mat-button>
    <i class="fa-solid fa-plus"></i> Add Movie
  </a>

  <a routerLink="/movie-search" routerLinkActive="active-link" mat-button>
    <i class="fa-solid fa-search"></i> Search
  </a>

  <a routerLink="/cart" routerLinkActive="active-link" mat-button>
    <i class="fa-solid fa-cart-shopping"></i> Cart
  </a>

  <a routerLink="/reservations" routerLinkActive="active-link" mat-button>
    <i class="fa-solid fa-ticket"></i> Reservations
  </a>

  <!-- Logged In -->
  <ng-container *ngIf="isLoggedIn$ | async; else showLogin">
    <button mat-button class="logout-btn" (click)="logout()">Logout</button>
    <span>Hello, {{ username }}</span>
  </ng-container>

  <!-- logged out -->
  <ng-template #showLogin>
    <a routerLink="/login" routerLinkActive="active-link" mat-button>Login</a>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
